/* Alternative Box Model */

* {
    box-sizing: border-box;
}


/* General Styles */

body {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    background-color: #272044;
}

h1, h2, h3 {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0.625rem;
}

h1 {
    width: 100%;
    font-size: 6vw;
    text-align: center;
    text-transform: uppercase;
    color:#FFF;
    background-color: #885DF1;
    padding: 1.25rem;
    margin: 3.125rem auto;
    border: 1.25rem solid #FB739B;
    text-shadow: -5px 5px #272044;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: #FB729B;
    text-shadow: -3px 3px #272044;
    padding: 0.625rem;
}

h3 {
    width: 100%;
    font-size: 1rem;
    text-wrap: wrap;
    text-transform: uppercase;
    color: #272044;
}

p {
    width: 100%;
    line-height: 1.5;
    text-align: left;
    color: #606268;
}

strong {
    color:#FB739B;
}

/* Link Styles */
a {
    text-decoration: none;
    color:#FB739B;
    font-weight: bold;
    padding: 3px 5px;
    border-radius: 0.625rem;
}

a:hover {
    background-color: #885DF1;
    color: white;
    cursor: crosshair;
}

nav {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

ul {
    display: flex;
    list-style-type: none;
    text-transform: lowercase;
}

li {
    margin: 0 10px;
}

/* Wrapper Styles */
#wrapper {
    width: 80%;
    margin: auto;
    padding: 1.25rem 2.813rem;
    background-color: #f5f1fe;
    border-radius: 0.625rem;
}


/* Form Styling */

form {
    background-color: #FB729B;
    padding: 3rem;
    border-radius: 0.625rem;
}

label {
    display: block;
    color: white;
    background-color: #FB729B;
    text-shadow: -2px 2px #272044;
    font-weight: 900;
}

input, textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 0.625rem;
}

input[type="checkbox"] {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

#check > label {
  display: inline-block;
}

/* Image Styles */

img {
    display: flex;
    margin: 3rem auto;
    border-radius: 0.625rem;
    width: 90%;
}

button {
    color: #FFF;
    background-color: #272044;
    border: none;
    padding: 0.5rem 0.9rem;
    margin-top: 1rem;
    border-radius: 0.625rem;
}

button:hover {
    background-color: #885DF1;
    cursor: crosshair;
}

/* Flex Container 1 */

.flexOne{
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: flex-start;
    gap: 2rem;
}


/* Flex Container 2 */

.flexTwo {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}


/* Footer Styles */

footer {
    border-top: 0.625rem solid #885DF1;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    border-style: dotted;
    text-transform: lowercase;
    padding: 1.25rem;
    margin-top: 3.125rem;
    text-align: center;
}

footer a {
    color:#FB739B;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 0.625rem;
}
  
footer a:hover {
    background-color: #885DF1;
    color: white;
    cursor: crosshair;
}
